[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/vim-sleuth"]
	path = home/.vim/bundle/vim-sleuth
	url = git://github.com/tpope/vim-sleuth.git
[submodule "home/.vim/bundle/vim-latex"]
	path = home/.vim/bundle/vim-latex
	url = git://git.code.sf.net/p/vim-latex/vim-latex
